$titleColor: #000000;
$textColor: #8C8C8C;
$accentColor: #FF6B01;
$secondaryAccentColor: #FF6B08;
$navAccentColor: #FF001B;
$bgColor: #ffffff;

$footerTextColor: #545454;
$footerBgColor: #F7F7F7;

$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;