<header>
  <div class="container">
    <nav class="nav">
      <div class="logo">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/sprite.svg#logo">
          </use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </div>
      <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="" class="nav__link">my library</a></li>
      </ul>
    </nav>

    <form action="submit">
      <input type="text">
    </form>
  </div>

</header>