.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;

    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
    color: $footerTextColor;
}
.footer__text {
    text-align: center;
}
.footer__text:not(:first-child) {
    margin-left: 4px;
}
.footer__text--symbol {
    margin-left: 8px;
    margin-right: 8px;
}
.footer__button {
    border: none;

    color: $footerTextColor;
    background-color: transparent;

    text-decoration: underline;
}